/* 전역 폰트 설정 */
html,
body {
  font-family: "Pretendard Variable", sans-serif;
  color: #303441;
}

/* 버튼 기본 스타일 */
.primary-button {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  white-space: nowrap;

  border-radius: 4px;
  border: 1px solid #ff5833;
  background: #ff5833;

  font-family: "Pretendard Variable", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
.secondary-button {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  white-space: nowrap;

  border-radius: 4px;
  border: 1px solid #e1e4ed;
  background: #fff;

  font-family: "Pretendard Variable", sans-serif;
  color: #303441;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
