.accordionFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-self: stretch; */
    width: inherit;

    border: 1px solid var(--outerLine);
    border-radius: 8px;

    box-shadow: 0 0.5px 2px 0 rgba(25, 33, 61, 0.1);
}

.acco_header {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--outerLine);
    width: inherit;
    padding: 20px;
    gap: 10px;
    font-size: 12px;
    border-radius: 8px 8px 0 0;
    background-color: rgba(255, 87, 51, 0.5);
}

.acco_body {
    width: inherit;
    padding: 15px 32px 32px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 15px;
}
