.base_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
}
.detailFrame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 20px;
    gap: 15px;
    border: 1px solid var(--outerLine);
    border-radius: 5px;
}

.info_column {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}
.info_cell {
    width: 50%;
    display: flex;
    align-items: center;
}
.info_line {
    width: 100%;
    display: flex;
    align-items: center;
}
.sub_title {
    min-width: 90px;
    font-weight: 500;
}

.pd_list_table {
    width: 100%;
}

.product_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* tr.bundle_deli.bundle_last td {
    border-bottom: 1px solid #303441;
} */
tr.bundle_deli:not(:has(+ tr.bundle_deli)) td {
    border-bottom: 1px solid #303441;
}

tr.each_deli:not(:has(+ tr.each_deli)) td {
    border-bottom: 1px solid #303441;
}
.shipCharge_cell {
    border-bottom: 1px solid #303441;
}

/* ****************************

***************************** */

.claim_section {
    width: 100%;
}

.info_list_section {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}

.imgParts {
    display: flex;
    align-items: center;
    gap: 10px;
}
.blockParts {
    gap: 10px;
}
.flexParts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.claim_column,
.pickupInfo_column,
.result_column,
.content_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detailPdTable {
    width: max-content; /* 내용 크기만큼 자연 확장 */
    min-width: 100%; /* 화면보다 좁아지지 않게 */
    table-layout: fixed;
    /* 외부 테두리  */
    border: 1px solid var(--innerLine);
    border-radius: 8px;
    border-collapse: collapse;
    white-space: nowrap; /* 열 줄바꿈 방지 */
}

.detailPdTable .detailListTable tbody tr:last-child td {
    border-bottom: none;
}

.processFlow {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
