.body_column {
    width: 100%;
}

.change_period {
    display: flex;
    gap: 25px;
}

.salesCard {
    display: flex;
    align-items: center;
    padding: 16px 30px;
    gap: 20px;
    flex: 1 0 0;
    border: 1px solid var(--outerLine);
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
}

.bi-cash-coin {
    font-size: 44px;
    color: var(--subfont);
}
.cardAmount {
    font-feature-settings: "liga" off, "clig" off;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
}

.cardTitle {
    font-feature-settings: "liga" off, "clig" off;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
}

.body_column3 {
    height: 500px;
}

.periodCriteria {
    display: flex;
    align-items: center;
    /* align-self: stretch; */
    justify-content: flex-start;
    padding: 10px 20px;
    margin-bottom: 8px;
    gap: 15px;
    border-radius: 8px;
    border: 1px solid var(--outerLine);
    font-size: 16px;
    font-weight: 500;
}
table.salesTable {
    width: max-content; /* 내용 크기만큼 자연 확장 */
    min-width: 100%; /* 화면보다 좁아지지 않게 */
    table-layout: fixed;
    /* 외부 테두리  */
    border-top: 1px solid var(--innerLine);
    border-collapse: collapse;
    white-space: nowrap; /* 열 줄바꿈 방지 */
}

table.salesTable tbody tr td:not(:first-child):not(:last-child):hover {
    /* background-color: #eee; */
    font-weight: 500;
    cursor: pointer;
}
