.tableFrame {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    /* border: 1px solid red; */
}

.filterArea {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px;
    padding: 22px 10px;
    gap: 20px;
    border: 1px solid var(--outerLine);
    /* border-radius: 3px; */
}

.filterColumn1,
.filterColumn2,
.filterColumn3 {
    width: 100%;
}
.filterTitle {
    color: #6d758f;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px; /* 150% */
    margin-bottom: 5px;
}

.filterBody {
    width: 100%;
    padding: 10px;
    gap: 10px;
    border: 1px solid var(--innerLine);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.tableArea {
    width: 80%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
}
.tableArea > div {
    margin: 0 auto;
}
.tableHeader {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    /* align-self: stretch; */
    border-bottom: var(--innerLine);
}

.totalSearchBox {
    display: flex;
    align-items: center;
    gap: 5px;
}
.totalSearchBox .searchInput {
    width: 210px;
}

.tableBody {
    width: 100%;
    overflow-x: auto; /* 내용 길어질 시 자동으로 가로스크롤 */
}
table {
    width: max-content; /* 내용 크기만큼 자연 확장 */
    min-width: 100%; /* 화면보다 좁아지지 않게 */
    table-layout: fixed;

    /* 외부 테두리  */
    border-top: 2px solid var(--innerLine);
    /* border-top: 2px solid #6d758f; */

    border-collapse: collapse;
    white-space: nowrap; /* 열 줄바꿈 방지 */
}

table thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

table th,
table td {
    padding: 8px 10px;
    text-align: center;

    /* 가로 구분선 */
    border-bottom: 1px solid var(--innerLine);

    box-sizing: border-box;
    line-height: 20px;
}

/* table th {
    background: var(--subcolor);
} */

/* 행에 마우스 hover시 색변환 */
table.listTable tbody tr:hover td:not(:has(img)) {
    background-color: #eee;
    cursor: pointer;
}

.title_cell {
    text-align: left;
    /* 셀 안에 텍스트 내용 길어질 경우 말줄임표 처리*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price_cell {
    text-align: right;
}

/* 페이지네이션 */
.my-pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.my-pagination .page-link {
    background: transparent;
    border: none;
    color: #a4aec1;
    font-size: 16px;
    font-weight: 500;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;

    outline: none !important;
    box-shadow: none !important;
}
.my-pagination .page-item.active .page-link {
    background: #303441;
    color: #ffffff;
    border: none;
    font-weight: 600;
}
.my-pagination .page-link:hover {
    color: #ffffff;
    background: rgba(48, 52, 65, 0.3);
}
.my-pagination .page-link:focus,
.my-pagination .page-item.active .page-link:focus {
    outline: none !important;
    box-shadow: none !important;
}
