body {
    min-width: 1300px;
}

.Userheader,
.navigation {
    max-width: 1440px !important;
    padding: 0 136px;
}

.Userheader {
    width: 100%;
    height: 95px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eff1f5;
}

.userBox {
    height: 32px;
    display: flex;
    gap: 24px;
    align-items: center;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: blueviolet;
}

.Headericon {
    font-size: 20px;
}

.membership,
.loginSign,
.estimate,
.profile {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    gap: 32px;

    width: 100%;
    height: 52px;
    padding: 0 16px;
    border-bottom: 1px solid #eff1f5;
}

.navitem {
    height: 52px;
    display: flex;
    align-items: center;
    padding: 0 2px;
    cursor: pointer;
}

.navitem:hover {
    color: #ff5833;
}

.navitem:active,
.navitem.active {
    color: #ff5833;
    border-bottom: 2px solid #ff5833;
    font-weight: 600;
}

.estimate,
.membership,
.icon,
.loginSign,
.profile {
    cursor: pointer;
}

.te {
    font-size: 14px;
    font-weight: 500;
}
