body {
  min-width: 1300px;
}

.Userheader,
.navigation {
  max-width: 1440px !important;
  padding: 0 136px;
  margin: 0 auto;
}

.Userheader {
  width: 100%;
  height: 95px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eff1f5;
}

.userBox {
  height: 32px;
  display: flex;
  gap: 24px;
  align-items: center;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eff1f5;
  overflow: hidden;
}

.Headericon {
  font-size: 20px;
}

.membership,
.loginSign,
.estimate,
.profile {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  gap: 32px;

  width: 100%;
  height: 52px;
  padding: 0 16px;
  border-bottom: 1px solid #eff1f5;
}

.navitem {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  cursor: pointer;
}

.navitem:hover {
  color: #ff5833;
}

.navitem:active,
.navitem.active {
  color: #ff5833;
  border-bottom: 2px solid #ff5833;
  font-weight: 600;
}

.estimate,
.membership,
.icon,
.loginSign,
.profile {
  cursor: pointer;
}

.te {
  font-size: 14px;
  font-weight: 500;
}
.profileDropDown {
  display: flex;
}

.Header-nickname {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 600;
  margin-right: 8px;
}

.myDropDown,
.myDropDown:hover,
.myDropDown.navitem:active,
.myDropDown.navitem.active {
  background-color: #ffff !important;
  border: none !important;
}

.dropmenu-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item {
  padding: 12px;
}

.header-modal-button {
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  gap: 12px;
  padding: 12px;
}

.space-px {
  height: 4px;
}

/* 알림 아이콘 */
.alarm-toggle {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  position: relative;
  cursor: pointer;

  color: #000;
}

.alarm-menu .dropdown-divider {
  margin: 0;
}

/* 기본 caret 강제 제거 (안전장치) */
.alarm-toggle::after {
  display: none !important;
}

/* 포커스/클릭 시 테두리 제거 */
.alarm-toggle:focus,
.alarm-toggle:active {
  outline: none !important;
  box-shadow: none !important;
}

.alarm-toggle {
  color: #333;
}

.alarm-toggle:hover,
.alarm-toggle:focus,
.alarm-toggle:active {
  color: #333 !important;
  background: transparent !important;
}

.alarm-item {
  display: flex;
  width: 318px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.alarm-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.alarm-title {
  color: #303441;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
}
.alarm-body {
  color: #6a7685;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}

/* 뱃지 */
.alarm-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  min-width: 16px;
  height: 16px;
  padding: 0 4px;

  background-color: #ff5833;
  color: #fff;

  font-size: 10px;
  font-weight: 600;
  line-height: 16px;

  border-radius: 999px;
  text-align: center;
}
