.Main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 검색 */
.search {
    width: 720px;
    height: 50px;
    padding: 0 16px;
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #eff1f5;
    border-radius: 8px;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    gap: 10px;
}

.search-input {
    border: none;
    outline: none;
    width: 500px;
}

.sbutton {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btxt,
.search-input {
    font-size: 15px;
}

/* 검색결과 */
.search-result {
    width: 1200px;
    padding: 15px 16px;
    border-bottom: #eff1f5 1px solid;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 40px 0 10px 0;

    font-size: 20px;
    font-weight: 600;
}

.reuslt {
    color: #FF5833;
}

/* 배너 */
.main-banner {
    width: 1200px;
    padding: 0 16px;
    margin: 40px 0; 

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner1 {
    width: 880px;
    height: 455px;
    background-color: #eff1f5;
    border-radius: 8px;
}

.banner2 {
    width: 270px;
    height: 455px;
    background-color: grey;
    border-radius: 8px;
}

.advertise {
    width: 1168px;
    height: 100px;
    background-color: #6498ff;
    border-radius: 16px;
    margin: 20px 0;
}

/* 리스트 */
.card-box {
    width: 1200px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 40px 0;
}

/* 타이틀 */
.top {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-main {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    gap: 5px;
}

.s-count {
    color: #FF5833;
}

.more {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.moreBtn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

/* 카테고리 */

.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.category-item {
    height: 35px;
    padding: 10px 12px;
    background-color: #F2F2F7;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.category-item.active,
.category-item:active {
    background-color: #FF5833;
    font-weight: 600;  
    color: #ffffff;
}


/* 리스트 카드 */

.community-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Best-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.card-more {
    width: 40px;
    height: 40px;
    border: 1px solid #eff1f5;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}